@use "sass:color";

$color-1: #969696;
$change-brightness: 1%;

@function get-contrast-bg($c) {
  @if color.channel($c, "lightness", $space: hsl) > ($change-brightness * 50) {
    @return darken($c, $change-brightness * 10);
  } @else {
    @return lighten($c, $change-brightness * 10);
  }
}

@function get-contrast($c) {
  @if color.channel($c, "lightness", $space: hsl) > ($change-brightness * 50) {
    @return black;
  } @else {
    @return white;
  }
}

@function lighten($c, $percent) {
  @return color.mix(white, $c, $percent);
}

@function darken($c, $percent) {
  @return color.mix(black, $c, $percent);
}

$color-lightness: lighten($color-1, $change-brightness * 88);
$color-light: lighten($color-1, $change-brightness * 69);
$color-dark: darken($color-1, $change-brightness * 53);
$color-darker: darken($color-1, $change-brightness * 66);
$color-darkest: darken($color-1, $change-brightness * 73);
$color-danger: #c0392b;
$color-danger-light: #e57373;

.input-dysplay-none {
  display: none;
}

$variable-range-custom: (
  "",
  "::-webkit-slider-thumb",
  "::-webkit-slider-runnable-track",
  "::-moz-focus-outer",
  "::-moz-range-progress",
  "::-moz-range-thumb",
  "::-moz-range-track",
  "::-ms-thumb",
  "::-ms-track"
);

$variable-range-custom-selected: (
  "::-webkit-slider-thumb",
  "::-webkit-slider-runnable-track",
  "::-moz-focus-outer",
  "::-moz-range-progress",
  "::-moz-range-thumb",
  "::-moz-range-track",
  "::-ms-thumb",
  "::-ms-track"
);

$range-parts: (
  "::-webkit-slider-runnable-track": track,
  "::-moz-range-track": track,
  "::-moz-range-progress": progress,
  "::-webkit-slider-thumb": thumb,
  "::-moz-range-thumb": thumb,
  "::-moz-focus-outer": focus,
);
