.inTakeTime-container_moment__label,
.inTakeTime-moment label {
  font-size: 1.1rem;
}

.custom-range,
.inTakeTime-container h4,
.paper-product-container-navBar_titleProduct p {
  font-size: 1.2rem;
}

.container-product-name,
.title-library {
  font-size: 1.8rem;
}

.btn-advancedMode-toggle {
  font-size: 0.6rem;
}
