.full-vh,
.main-content,
.paper-product {
  height: 100vh;
}

.library-main-container,
.library-resizable-container,
.library-resize-handle,
.library-wrapper {
  height: 100%;
}

.inTakeTime-moment label {
  height: 60px;
}
