.bloc {
  margin: 20px 15px 10px 15px;
}

.paper-product-container {
  margin: 0 auto;
}

.inTakeTime-moment {
  margin: 0 15px 10px 15px;
}

// .title-library {
//   margin-bottom: 10px;
// }

.content-files ul {
  margin-left: 20px;
}
