.range-value {
  padding: 10px 0 10px 0;
}

.container-profil_status-profil,
.range-value label {
  padding: 5px;
}

.inTakeTime-container h4 {
  padding: 5px 0 5px 20px;
}

// .inTakeTime-moment label {
//   padding: 20px;
// }

.paper-product-li_img,
.title-library {
  padding: 10px;
}

.library-list,
.library-folder-list {
  padding: 10px 18px;
}

.library-navBar label,
.library-navBar input[type="radio"]:checked + label {
  padding: 14px 18px;
}

.content-files li {
  padding: 15px 5px;
}

// .content-files li:first-child {
//   padding: 15px 5px 15px 15px;
// }

.paper-product-container-navBar_titleProduct p {
  padding: 25px 20px;
}

.container-product-name {
  padding: 10px 10px 10px 30px;
}

.user-list li {
  padding: 25px;
}

.text-product-name {
  padding: 5px 30px 5px 20px;
}

.title-inTakeTime-container {
  padding: 15px 50px;
}

//---- PADDING-TOP ----//

.custom-range h3 {
  padding-top: 15px;
}
