.editable-navbar-wrapper {
  .hover-zone {
    display: inline-block;

    .nav-bar-minitools {
      top: 5px;
      left: 0;
      background: var(--color-1);
      border-radius: 4px;
      padding: 4px;
      gap: 4px;
      z-index: 100;

      button {
        background: none;
        border: none;
        cursor: pointer;
      }
    }

    &:hover .nav-bar {
      display: flex;
    }
  }
}
